*{
    padding: 0;
    margin: 0;

}

/*侧拉框*/
.sidebar {
   margin-top: 64px;
    margin-bottom: 100px;
  position: fixed;
  top: 0;
  left: -100%; /* 初始时侧拉框隐藏在页面左侧 */
  width: 50%;
  height: 100%;
  background-color: #F5F8FA;
  color: #fff;
  transition: left 0.3s ease; /* 添加过渡效果 */
        z-index: 1;
}

.sidebar .content {
  padding: 20px;
}

#toggleBtn{
    position: absolute;
    margin-top: -300px;
    height: 40px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    font-size: 16px;
}



/* 导航栏样式 */
        .navbar {
        display: flex;
        justify-content: center;
        background-color: #2bb7e3;
        position: relative;
    }
        .center-links{
            display: flex;
        }


        .navbar form {
        margin: 0;
    }
    .navbar input[type="submit"] {
        width: 150px;
        padding: 14px 20px;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 20px;
        font-weight: bolder;
    }
    .navbar input[type="submit"]:hover {
        background-color: orange;
        border-radius: 30px;
    }
    .highlight {
        position: absolute;
        height: 100%;
        width: 0;
        background-color: orange;
        transition: all 0.3s;
        z-index: -1;
    }
    .navbar form:nth-child(1):hover ~ .highlight {
        width: calc(100% / 6);
        left: 0;
    }
    .navbar form:nth-child(2):hover ~ .highlight {
        width: calc(100% / 6);
        left: calc(100% / 6);
    }
    .navbar form:nth-child(3):hover ~ .highlight {
        width: calc(100% / 6);
        left: calc(2 * 100% / 6);
    }
    .navbar form:nth-child(4):hover ~ .highlight {
        width: calc(100% / 6);
        left: calc(3 * 100% / 6);
    }
    .navbar form:nth-child(5):hover ~ .highlight {
        width: calc(100% / 6);
        left: calc(4 * 100% / 6);
    }
    .navbar form:nth-child(6):hover ~ .highlight {
        width: calc(100% / 6);
        left: calc(5 * 100% / 6);
    }





.container {
    width: 100%; /* 使用视口宽度的80%作为容器宽度 */
    height: 80%; /* 使用视口高度的80%作为容器高度 */
    /*background-color: #f0f0f0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /*background-image: url("https://bpic.588ku.com/back_origin_min_pic/19/04/16/e94ff942bf87ccdcb3a6be9335f11894.jpg!/fw/750/quality/99/unsharp/true/compress/true");*/
    background-size: 100%;

}



body{
    justify-content: center;
    align-items: center;

}
.body{
    height: 100%;
    width: 1164px;
    margin-left: 106px;
    margin-right: 106px;
    /* border: 1px solid black; */
    justify-content: center;
      align-items: center;
      /* display: flex; */

}

.xiongji{
    height: 69.6px;
    width: 200px;
    /* border: 1px solid black; */
    align-items: center;
    /* margin-left: 30px; */
    /*margin-top: 40px;*/
    float:left;
}

.xiongji_one{
    height: 39.6px;
    width : 300px;
    margin-top: 20px ;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    font-size: 36px;
}

.fanhui{
    height:44.63px ;
    width: 578.4px;
    margin-left: 383px;
    margin-top: 50px;
    float:left;

    /* border: 1px solid black; */
}
button:hover {
        cursor: pointer;
    }

.fanhui button{
    height:44.63px ;
    width: 578.4px;
    /* border: 1px solid black; */
    background-color: white;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    border: 2px solid #20409a;
    text-decoration: none;
    color: #20409a;
    white-space: nowrap;
    z-index: 0;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 4px;
    /* font-size: 36px; */
}
.fanhui button a{
    text-decoration: none;
}
.box1{
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
    float: left;
}

.box2{
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
    float: left;
}

p{
    height: 72px;
    width: 1164px;
    /* border: 1px solid black; */
}

.box3{
    height: 66px;
    width: 1164px;
    /* border: 1px solid black; */
    float: left;

}

.lianxi{

    height: 30px;
    width: 1164px;
    margin-top: 40px;
    margin-bottom: 12px;
    float: left;
    font-size: 1.5em;
}

.box4{
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
    float: left;
}
.wotui{
    height: 57.5px;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom:10px ;
    /* border: 1px solid black; */
    float: left;
    font-size: 1.55em;
}
.box5{
    height: 440px;
    width: 1164px;
    float: left;

}

.mp4{
    width:700px ;
    /* height:400px; */
    float: left;
    /* border: 1px solid black; */
}
.mp4 video{
    width:700px ;
}
.lian{
    margin-left: 50px;
    width: 400px;
    float: left;
    text-align: center;
    /* border: 1px solid black;  */
}

.button {
    background-color:rgb(119, 123, 128);
	color:white;
	width: 200px;
	height: 47px;
	border:0;
	font-size: 16px;			
    border-radius: 30px;
    text-align: center;
}
.button  a{
    width: 200px;
    color: white;
    text-decoration: none;
    
    /* float: left; */
}

.box6{
    height: 300px;
    width: 1164px;
    /* border: 1px solid black; */
    float: left;
    z-index: 2;
}



li{
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    counter-increment: mw-counter;
    /*font-size: 1.5rem;*/
    margin: 0 0 1.5rem 1em;
    padding: 10px 15px 10px 35px;
    position: relative;
    border: none;
}
li::before{
    background: #204099;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,.4), 0 0 0 5px #f5f8fa, 5px 0 2px rgba(0,0,0,.6);
    color: #fff;
    content: counter(mw-counter);
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    left: -1.2em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
}
p{
    text-align: left;
    font-family: "宋体";
    font-weight: bolder;
    font-size: larger;
    color: darkblue;
}