Flask==3.0.3
DBUtils==3.1.2
PyMySQL==1.1.2
websocket-client==1.8.0
dataplicity-websocket-client==0.41.0
gevent==24.2.1
greenlet==3.1.1
zope.event==5.0
zope.interface==7.2
Jinja2==3.1.6
Werkzeug==3.0.6
click==8.1.8
itsdangerous==2.2.0
MarkupSafe==2.1.5
cffi==1.17.1
pycparser==2.22
six==1.17.0
colorama==0.4.6